body {
    font-family: Arial, Helvetica, Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    
    }
    
    header {
        
        height: 66px;
        background:#ebebeb;
        text-align: center;
        padding-top: 5px;
        margin-left: 200px;
    
    }
    
    nav {
        height: 66px;
        background:#ebebeb;
        text-align: center;
        padding-top: 5px;
        margin-left: 200px;
    
    }
    
    div {
        float: center;
        margin-left: 65px
    
    }
    
    aside {
        height: 259px;
        width: 250px;
        float: right;
        background: #ebebeb;
        text-align: center;
        
    }
    
    section {
        height: 250px;
        width: 470px;
        background: #ebebeb;
        text-align: center;
        padding-top:10px;
        margin-left:133px;
    
    }

    article {
        height: 180px;
        width: 300px;
        color: #ebebeb;
        background: #777;
        margin-left:85px
    
    }

    #headings {
        height: 50px;
        width: 259px;
        background: #ebebeb;
        color: #777;
        margin-left: 20px;
        margin-bottom:5px;
        font-weight: bold;
        line-height: .1;
        
    }

    #paragraph {
        height: 50px;
        width: 259px;
        background: #ebebeb;
        color: #777;
        margin-left: 20px;
        line-height: .1;
         
    }

    footer {
        height: 66px;
        background:#ebebeb;
        text-align: center;
        margin-left: 198px;
        line-height: 3;
        
    }

   
